*{
    box-sizing: border-box;
}

body{
    font-family: tahoma;
    margin: 0;
    padding: 0;
}
h2{
    font-family: tahoma;
}
header{
    padding: 50px;
    background-color: rgb(223, 175, 230);
    font-family: tahoma;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.colum{
    flex: 25%;
    padding: 5px;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
    font-family: tahoma;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30px;
    background-color: khaki;
    padding: 20px;
}

section{
    flex: 70%;
    background-color: rgb(220, 238, 245);
    padding: 20px;
    font-family: tahoma;
}

img{
    flex: 70%;
    
}

h1{
    font-family: tahoma;
    font-size: 35px;
}
h3{
    font-family: tahoma;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: rgb(223, 175, 230);
    font-family: tahoma;
}

@media screen and (max-width: 700px){
    nav, .row, .colum{
        flex-direction: column;
    }
}

.texto{
    font-family: tahoma;
    
}
.icono{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 5px;
}
.img{
    width: 85px;
    height: 85px;
    
    float: right;
}
.img2{
    width: 85px;
    height: 85px;
    
    float: left;
}
.img3{
    width: 85px;
    height: 85px;
}
p{
    text-align: justify;
    font-family: tahoma;
}
.centrado{
    text-align: center;
}
.pan{
    text-align: center;
    float: left;
}
.pastel{
    text-align: center;
}
.galletas{
    float: right;
    text-align: center;
}
.letra{
    font-family: tahoma;
}
a{
    font-family: tahoma;
}
.altaimg{
    border: 1px solid black;
    float: right;
}
.movD{
    float: right;
}
button{
    background-color: #8c9ed1; 
    border: none;
    color: rgb(7, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: tahoma;
}
.button{
    background-color: #8c9ed1; 
    border: none;
    color: rgb(7, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: tahoma;
}
.sectProd{
    width: 300px;
    height: 2200px;
    background-color: #8c9ed1;
    border: 1px solid black;  
    flex-direction: column;
    
}
.sectProd2{
    width: 960px;
    height: 350px;
    background-color: #8c9ed1;
    border: 1px solid black;  
    flex-direction: column;
    
}

.descrip{

    font-family: tahoma;
    font-size: 15px;
    text-align: center;
}
.descrip2{

    font-family: tahoma;
    font-size: 15px;
    text-align: center;
}

.imgProd{
    height:194px;
    width: 259px;
    border: 2px solid khaki;
}

.section3{
    height: 90%;
    width: 80%;
    background-color: khaki;
}
